$main-bg : #f1f1f1;
$header-bg:#7ba8c0;
$header-color:#fff;
$quote-color-bg:orange;
$border-radius:.5em;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100&display=swap');

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(48, 47, 47); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c0c0c; 
  }

*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

button{
     display:inline-block;
     padding:0.35em 1.2em;
     border:0.1em solid #FFFFFF;
     margin:0 0.3em 0.3em 0;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:300;
     color:#FFFFFF;
     text-align:center;
     transition: all 0.2s;
}

input:focus {
   border: none;
}

p{
    font-weight: 300;
}

.main {
    width: 95%;
    background-color: $main-bg;
    height: 96vh;
    margin: 2vh auto;
    border-radius:$border-radius;
    position: relative;
}

header {
    background-color: $header-bg;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1em;
    border-top-left-radius:$border-radius;
    border-top-right-radius: $border-radius;
    a {
        text-decoration: none;
        color:$header-color;
        font-weight:bold;
        text-transform: uppercase;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li a {
            text-decoration: none;
            text-transform: capitalize;
        }
    }
    height: 40px;
}

.wrapper{
    .project{
        height:  calc( 100vh - 100px);
        border-radius:$border-radius;
        overflow-y: scroll;
        .hero{
            background-color: #fff;
            padding: 1em;
            color:#333;
            height: 230px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .imgBox{
                margin-right: 50px;
                div{
                    height: 180px;
                    width: 180px;
                    background-color: rgba(190, 144, 144, 0.719);
                    border-radius: 90px;
                    img{
                        width: 110%;
                    }
                }
            }

            div{
                h1{
                    font-size: 2.4rem;
                }
                button{
                    margin: 1em 0px;
                }
    
                p{
                    width:70%;
                }
            }

          

        }
        .no_projects{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               height: 50vh;
               padding: 0px 50px;
               text-align: center;
               background-color: #eee;
        }
        .projects{
            .title{
                text-transform: uppercase;
                font-size: 1rem;
                padding: 1em;

            }

            .projectList{
                 border-top:1px solid #eee;
                 display: flex;
                 flex-wrap: wrap;
                 background-color: #f1f1f1;

                 .pro {
                    width:100%;
                    border:none;
                    border-radius:$border-radius;
                    margin:2%;
                    background-color: #fff;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    .color{
                        height: 120px;
                        background-color: rgb(214, 160, 160);
                        border-top-left-radius:$border-radius;
                        border-top-right-radius:$border-radius;
                        display: flex;
                        align-items: center;
                     }
                    .inner {
                        padding: .5em 1em;
                        .title {
                            font-size: 1rem;
                        }
                        .description{
                            font-size: .8rem;
                            height: 70px;
                        }
    
                        .date {
                            font-size: .7rem;
                            font-weight: bold;
                        }
    
                        .pro-footer{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        .actions{
                            margin:15px auto;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #eee;
                            a {
                                margin-right: 30px;
                                text-decoration: none;
                                font-size: .8em;
                                cursor: pointer;
                            }
                        }
                    }
                   
                }
            }

           
        }
    }

    .motivation{
        height:  calc( 100vh - 100px);
        border-bottom-right-radius:$border-radius;

        background-color: $header-bg;
        color: $header-color;
         .quote {
             padding: 1em;
             .title{
                text-transform: uppercase;
                font-size: 1.2rem;
            }

            p{
                font-size: .9rem;
            }
         }
         .learn{
             padding: 1em;
         }
    }
    
}

.project-form{
    background-color: #fff;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    width: 0%;
    opacity: 0;
    border-left: 1px solid #eee;
    box-shadow: -10px 1px 39px -1px rgba(153,152,152,0.66);

    .modal-header{
        background-color: #46b280;
        border-top-right-radius: $border-radius;
        display: flex;
        justify-content: space-between;
        color:#fff;
        align-items: center;
        span{
            margin-left: 1em;
        }
        a{
            text-decoration: none;
            color:#fff;
            background-color: #04517a;
            padding: 1em;
            cursor: pointer;
            border-top-right-radius: $border-radius;
        }
    }
    .summary{
        padding: 1em 10px;
    }

    .form{
        width: 90%;
        padding: 1em;

        .field{
            display: flex;
            flex-direction: column;
            margin-top:1em;
            label{
                color:#444;
                font-size: .9rem;
                margin-bottom: .6em;
            }
            input {
                height: 2em;
                padding:.4em 1em;
                border: 1px solid #aaa;
                border-radius:$border-radius;
                width: calc(100%-2em);
                font-family: 'Poppins', sans-serif;
            }
            select{
                height: 2em;
                padding:.4em 1em;
                border-radius:$border-radius;
                width: calc(100%-2em);
                font-family: 'Poppins', sans-serif;
            }
            .exp{
                font-size: .6rem;
                color:gray;
                text-align: right;
                margin-top: .4em;
            }
            textarea{
                padding:.4em 1em;
                border: 1px solid #aaa;
                border-radius:$border-radius;
                width: calc(100%-2em);
                font-family: 'Poppins', sans-serif;
            }
        }

        .form-btn{
            width: 100%;
            margin: 40px auto;
        }
    }
}

.task{
    margin: .5em 1em;
    background-color: #fff;
    padding: .5em;
    border-radius: $border-radius;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .task__inner{
        .task__title {
            color:#333;
            text-transform: uppercase;
            font-size: .8rem;
        }
    
        .task__description{
         font-weight: 300;
         font-size: .8rem;
        }
        .task__date{
            font-size: .6rem;
        }
    }
}

.cal {
    width: 100%;
}



@media only screen and (min-width: 768px){
    html {
        font-size: 16px;
    } 
}

@media only screen and (min-width: 1020px){
    html {
        font-size: 17px;
    } 
   

    .main{
        width: 75%;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: 70% auto;
        grid-template-areas: 'project quote' 'project learn';

        .project{
            .projects{
                .projectList{
                    .pro{
                        width: 45%;
                        background: #fff;
                    }
                }
            }
        }
     }

     section.project{
        grid-area: project;
    }

    section.quote{
        grid-area: quote;
    }


    section.learn{
        grid-area: learn;
    }

    body{
        overflow: hidden;
    }
 
  
}

.full{
    background-color: #46b280;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 4em;
    color:#fff;
    border-radius: $border-radius;

    h1{
        font-size: 3.4em;
    }

    img{
        height: 160px;
        width: 160px;
    }

    p  {
        width: 60%;
    }

    a{
        text-decoration: none;
        color:#fff;
        margin:2em auto;
    }
}

@media only screen and (min-width: 1800px){
    html {
        font-size: 18px;
    }
    .projects{
        .projectList{
            .pro{
                width: 45%;
            }
        }
    }
    .main{
        width: 75%;
    }

    body{
        overflow: hidden;
    }
 
}